# Assignment-1

This notebook contains the coding questions to test the proficiency in basic python.

### Date: 22nd April, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-01-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-01-Dipika_Chopra.ipynb`.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1ocablnD-nmo2Q1d4Q35BtJMcIMdwONK0?usp=sharing

<h3><span style="color:red"> Deadline: 30th April, 2025 </span></h3>

#### Question-1

Write a function `second_largest(numbers)` that takes a list of numbers and returns the second largest number in the list. Assume the list has at least two unique numbers.

Example:
```python
numbers = [10, 5, 20, 8, 15]
second = second_largest(numbers)
print(second)
# Expected output: 15
```

In [92]:
numbers = input("Enter list of numbers separated by space" ).split()
print(numbers)


def second_largest(n):
    sorted_list=sorted(n)
    return sorted_list[1]

second = second_largest(numbers)

print(f"Second largest number is {second}")

['3', '1', '6', '7']
Second largest number is 3

#### Question-2

Write a function `count_vowels(text)` that takes a string as input and returns the number of vowels (a, e, i, o, u - case-insensitive) present in the string.

Example:
```python
text = "Hello World"
vowel_count = count_vowels(text)
print(vowel_count)
# Expected output: 3
```

In [7]:
# Write your code here
text="Hello Anitha"

text =text.lower()

def count_vowels(txt): 
    cnt=0

    for char in txt:
        if char in {"a","e","i","o","u"}:
            cnt +=1
   
    return cnt  

vowel_count = count_vowels(text)
print(vowel_count)

5

#### Question-3

Write a Python program to print all the prime numbers between 1 and N (inclusive). Where N is a positive integer and an input from user.

Example:

```python
N = 20
# Expected output: 2,3,5,7,11,13,17,19

```

In [46]:
num = 20

for i in range(2, num):
    flag = 0

    if i < 2:
        continue
    if i == 2:
        print(i)
        continue

    for x in range(2, i):
        if i % x == 0:
            flag = 1
            break

    if flag == 0:
        print(i)

2
3
5
7
11
13
17
19

#### Question-4

Write a function `merge_sorted_lists(list1, list2)` that takes two sorted lists of integers, `list1` and `list2` and merges them into a single sorted list efficiently. One way is to simple concatenate the lists and sort. But think of a better approach.

Example:
```python
list1 = [1, 4, 5]
list2 = [1, 3, 4]
merged = merge_sorted_lists(list1, list2)
print(merged)
# Expected output: [1, 1, 3, 4, 4, 5]
```

In [48]:
# Write your code here
list1 = [1, 4, 5]
list2 = [1, 3, 4]

def merge_sorted_lists(l1, l2):
    l3=l1+l2
    return sorted(l3)

merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 1, 3, 4, 4, 5]

#### Question-5

Create a dictionary like: `student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}`. Write Python code to find and print the name of the student with the highest grade.

Example:
```python
student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}
# Expected output: Bob
```

In [90]:
# Write your code here

student_grades = {"Alice": 85, "Bob": 92, "Charlie": 78}

y= max(student_grades,key=student_grades.get)
print(y)

Bob

#### Question-6

Write a function `is_anagram(str1, str2)` that checks if two given strings are anagrams of each other (contain the same characters with the same frequencies, ignoring case).

Example:
```python
print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))
# Expected output:
# True
# False
```

In [73]:
# Write your code here

#str1 = "listen"
#str2 ="silent"

def is_anagram(str1,str2):
    if sorted(str1)==sorted(str2):
        return True
    else:
        return False
    
print(is_anagram("listen", "silent"))
print(is_anagram("hello", "world"))

True
False

#### Question-7

Write a function `rotate_list(lst, k)` that rotates a given list lst to the right by `k` positions in-place. Assume `k` is a non-negative integer and can be greater than the length of the list.

Example:

```python
my_list = [1, 2, 3, 4, 5]
rotate_list(my_list, 2)
print(my_list)
# Expected output: [4, 5, 1, 2, 3]
```

In [58]:
# Write your code here
my_list = [1, 2, 3, 4, 5]

 
def rotate_list(a, k):
    rotated_list = a[-k:] + a[:-k] 
    return rotated_list

r=rotate_list(my_list, 2)
print(r)

[4, 5, 1, 2, 3]

#### Question-8

You have a list of dictionaries, where each dictionary represents a product with keys "name", "price", and "category". Write a function group_by_category(products) that takes this list and returns a dictionary where the keys are the unique categories and the values are lists of product names belonging to that category.

Example:

```python
products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
grouped_products = group_by_category(products)
print(grouped_products)
# Expected output: {'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

```

In [101]:
# Write your code here

products = [
    {"name": "Laptop", "price": 1200, "category": "Electronics"},
    {"name": "Book", "price": 25, "category": "Books"},
    {"name": "Tablet", "price": 300, "category": "Electronics"},
    {"name": "Fiction", "price": 15, "category": "Books"},
]
category_dict = {}

def group_by_category(products):
    for product in products:
        category = product["category"]
        #print (category)
        if category in category_dict:
            category_dict[category].append(product["name"])
        else:
            category_dict[category] = [product["name"]]

    return (category_dict)

grouped_products = group_by_category(products)
print(grouped_products)

{'Electronics': ['Laptop', 'Tablet'], 'Books': ['Book', 'Fiction']}

#### Question-9

Write a Python program that prints the first `n` rows of Pascal's triangle. `n` is a positive integer and an user input. To know about Pascal's triangle see the [wikipedia article](https://en.wikipedia.org/wiki/Pascal%27s_triangle): 

Example:

```python
n = 5
# Expected output:
#     1
#    1 1
#   1 2 1
#  1 3 3 1
# 1 4 6 4 1
```

In [116]:
# Write your code here

n=5
def factorial(n):
    result = 1
    for i in range(2, n+1):
        result = result * i

    return result

def binomial_coeff(n,k):
    result = factorial(n)/(factorial(k) * factorial(n-k))
    return result

print(1)
print("\n1,1")
print(binomial_coeff(2,1))

1

1,1
2.0

#### Question-10

Write a function `reverse_the_words(s)` which will take a string `s` as input and reverses the words in the string. 

Example:

```python
s = "Python is awesome and challenging"
r = reverse_the_words(s)
print(r)
# Expected output: challenging and awesome is Python
```

In [32]:
# Write your code here

s = "Python is awesome and challenging"
def reverse_the_words(str):
      str=str.split()
      str.reverse()
      rev = " ".join(str)
      return rev

r= reverse_the_words(s)
print(r)

challenging and awesome is Python

#### Bonus question


Write a function `word_counter(s)` which will take a string `s` as input and returns a dictionary with count of words (case insensitive). Remove all the punctuations and special symbols present in the string.  

Example:
```python
s = "This city is a beautiful city. This is where I live"
d = word_counter(s)

# Expected output (output can be in any order): {"this": 2, "city": 2, "is": 2, "a": 1, "beautiful": 1, "where": 1, "i": 1, "live": 1}
```

In [78]:
# Write your code here

s = "This city is a beautiful city. This is where I live"

s = s.replace(".","")
s = s.lower()
count={}
#print(s)

def word_counter(str1):
    for i in str1.split():
      count[i]=count.get(i,0)+1
      #print(count)
    return count

d = word_counter(s)
print(d)

{'this': 2, 'city': 2, 'is': 2, 'a': 1, 'beautiful': 1, 'where': 1, 'i': 1, 'live': 1}