# Assignment-3

This notebook contains the coding questions to test the proficiency in `Pandas` library in python.

### Date: 4th May, 2025

### Steps to solve and upload the assignment 

- Download the notebook in your local machine.
- Solve the questions in the notebook and save it.
- Rename the file as `Assignment-03-<your_name>_<your_surname>.ipynb`. For example if your name is Dipika Chopra then name the file as `Assignment-03-Dipika_Chopra.ipynb`.
- Upload the solved notebook in the google drive location: https://drive.google.com/drive/folders/1gCOcK20aw9a2i3kMK0ccymYIXPqOrqkq?usp=sharing 

<h3><span style="color:red"> Deadline: 20th May, 2025 </span></h3>

Use the `population_by_county.csv` file in the folder to complete the tasks.

**NOTE: TRY TO DO ALL THE TASKS IN ONE LINE OF PANDAS CODE.**

In [1]:
import pandas as pd

#### 1. Import pandas and read in the `population_by_county.csv` file into a dataframe called `pop`.

In [3]:
# Write your code here

pop=pd.read_csv(".\population_by_county.csv")
pop

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\Ganmax-pc\AppData\Local\Temp\ipykernel_19524\1340015313.py:3: SyntaxWarning: invalid escape sequence '\p'
  pop=pd.read_csv(".\population_by_county.csv")

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe, Also show top 8 rows of the dataframe using head

In [4]:
# Write your code here

pop.head(8)

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054
5      Adair County        Kentucky       18656            19485
6      Adair County        Missouri       25607            25377
7      Adair County        Oklahoma       22683            21909

#### 3. What are the column names?

In [30]:
# Write your code here

pop.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

#### 4. How many States are represented in this data set?  
<em>Note: the data includes the `District of Columbia`</em>

In [14]:
# Write your code here

len(pop.State)
#pop[pop['State'] == 'District of Columbia']

3142

#### 5. Get a list or array of all the states in the data set.

In [25]:
# Write your code here

arr=pop['State'].unique()
arr

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [36]:
# Write your code here

pop1= pop['State'].value_counts()
pop1.head(5)

State
Texas       254
Georgia     159
Virginia    133
Kentucky    120
Missouri    115
Name: count, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [7]:
# Write your code here
populated=pop.sort_values(by='2010Census',ascending=False)
#populated.head()
populated.head()['County']

1713    Los Angeles County
628            Cook County
1209         Harris County
1784       Maricopa County
2501      San Diego County
Name: County, dtype: object

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [58]:
# Write your code here

populated.head()['State']

1713    California
628       Illinois
1209         Texas
1784       Arizona
2501    California
Name: State, dtype: object

#### 9. How many Counties have 2010 populations greater than 1 million?

In [ ]:
# Write your code here

pop_greater_than_1m = pop[pop['2010Census']>1000000]
len(pop_greater_than_1m) #gives no of rows with population > 1m

39

In [ ]:
pop_greater_than_1m.nunique() # gives unique count of County with population > 1m

County             38
State              15
2010Census         39
2017PopEstimate    39
dtype: int64

#### 10. How many Counties don't have the word "County" in their name?

In [61]:
# Write your code here

new_pop=pop[~pop['County'].str.contains('County')]
#new_pop
len(new_pop)

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [36]:
# Write your code here

def pct_change(col1,col2):
    return((col2-col1)/col1) * 100

pop_copy= pop.copy()

pop_copy['PercentageDiff']= pct_change(pop_copy['2010Census'],pop_copy['2017PopEstimate'])
pop_copy

,County,State,2010Census,2017PopEstimate,PercentageDiff
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954
...,...,...,...,...,...
3137,Yuma County,Arizona,195751,207534,6.019382
3138,Yuma County,Colorado,10043,10075,0.318630
3139,Zapata County,Texas,14018,14322,2.168640
3140,Zavala County,Texas,11677,11948,2.320802
3141,Ziebach County,South Dakota,2801,2756,-1.606569

#### 12. What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?

**NOTE:** This will take several lines of code, as it requires a recalculation of Percent Change.

In [ ]:
# Write your code here
# used dataframe pop_copy created in ques.11
high_estimate =pop_copy.sort_values(by='PercentageDiff',ascending=False)
high_estimate.head(10)

,County,State,2010Census,2017PopEstimate,PercentageDiff
1861,McKenzie County,North Dakota,6360,12724,100.062893
1720,Loving County,Texas,82,134,63.414634
3060,Williams County,North Dakota,22398,33349,48.892758
1230,Hays County,Texas,157107,214485,36.521606
2944,Wasatch County,Utah,23530,32106,36.447089
2730,Sumter County,Florida,93420,125165,33.980946
2023,Mountrail County,North Dakota,7673,10265,33.780790
710,Dallas County,Iowa,66135,87235,31.904438
1480,Kendall County,Texas,33410,44026,31.774918
1709,Long County,Georgia,14464,19014,31.457412

In [ ]:
high_estimate.head(10)['State'].unique() # gives top States with high percentage change.

array(['North Dakota', 'Texas', 'Utah', 'Florida', 'Iowa', 'Georgia'],
      dtype=object)